nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 80px;
    padding: 5px;
   
  }
  
  .logo p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin: 0 10px;
  }
  
  li p {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .login {
    margin-left: auto;
    cursor: pointer;
  }
  .signup{
    cursor: pointer;
  }
  
  .login p {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }